#biorxiv-page {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}
#biorxiv-searches {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 25px;
    width: 100%;
}
.searches-separator {
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #d0d0e0;
    color: #d0d0e0;
    background-color: #d0d0e0;
}
.answer-empty {
    margin-bottom: 10px;
    color: #800040;
}
.answer-item {
    margin-bottom: 10px;
}
.answer-item-key {
    font-family: monospace, monospace;
    color: #006000;
}
.answer-title {
    font-weight: bold;
}
.biorxiv-question {
    margin-top: 5px;
    margin-bottom: 10px;
}
.question-subject {
    margin-bottom: 2px;
    margin-left: 10px;
    font-style: italic;
    font-weight: bold;
}
.question-query {
    margin-top: 2px;
}
.biorxiv-answer {
    margin-top: 10px;
    margin-bottom: 5px;
}
.question-label {
    color: #c0a060;
}
.answer-label {
    color: #a0a0a0;
    display: none;
}
#biorxiv-form {
    width: 100%;
    margin-top: 40px;
}
#biorxiv-query-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}
@-moz-document url-prefix() {
    #biorxiv-query-label {
        margin-bottom: 0px;
    }
}
#biorxiv-query-title {
    margin-bottom: 2px;
}
#biorxiv-form-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#biorxiv-subject-title {
    margin-right: 10px;
}
